<head>
	<title>tesla_clone</title>
</head>

<body>

	<header>

		<ul id="nav_top_left">
			<li><a href="https://www.tesla.com"><%= image_tag("tesla_logo.svg", width: '100px') %></a></li>
			<li><a href="#">MODEL S</a></li>
			<li><a href="#">MODEL X</a></li>
			<li><a href="#">MODEL 3</a></li>
			<li><a href="#">CHARGING</a></li>
			<li><a href="#">ENERGY</a></li>
		</ul>

		<ul id="nav_top_right">
			<li><a href="">UPDATES</a></li>
			<li><a href="">SUPPORT</a></li>
			<li><a href="">FIND US</a></li>
			<li><a href="">SHOP</a></li>
			<li><a href="">MY TESLA</a></li>
		</ul>

	</header>

	<div id="middle">
		<h1>Premium Electric Vehicles</h1>

		<h3><a href="#">Learn about the Software 8.0 update</a></h3>

		<br>

		<div id="tesla_buttons">
			<a href="https://www.tesla.com/models/design"><input type="button" class="button" name="tesla" value="ORDER YOURS" /></a>
			<input type="button" class="button" name="tesla" value="NEW INVENTORY" />
			<input type="button" class="button" name="tesla" value="TEST DRIVE" />
		</div>

	</div>

	<footer>
		<ul>
			<li><a href="#">Tesla Motors &copy; 2016</a></li>
			<li><a href="#">Privacy &amp; Legal</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Forums</a></li>
			<li><a href="#">Locations</a></li>
			<li><%=  image_tag("flag-us.svg", width: '17px') %></li>
		</ul>

	</footer>

</body>